/* @font-face{
  font-family: HelveticaBold;
  src:url(./Fonts/Helvetica-Bold.ttf)
}

@font-face{
  font-family: HelveticaLight;
  src:url(./Fonts/helvetica-light.ttf);
  
} */


.App{
  background-color: #292929;
 
   
}

.light{
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  z-index: 0;

}

.Watersign{
    background-image: url(images/logo_dark.svg);
    background-repeat: no-repeat;

    background-size: 1500px;
    background-position: -400px 300px; 
    z-index: 1;
    

}

.MailUs{
  background-image: url(images/MailUs.svg);
  background-repeat: no-repeat;
  background-position: -700px 325px;
  background-size: 3500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



/* Navbar style
.nav-link.white [title]{
  text-decoration: none;
  color:white;
  font-family: Helvetica;
  
}

.nav-link.black [title]{
  text-decoration: none;
  color: black;
  font-family: Helvetica;
}



.navigation{
  z-index: 10;
  position: sticky;
}



.nav-link.active [title]{
  text-decoration: none;
  color: #ff0084;
  text-transform: uppercase;
  font-family: Helvetica;
} */
